<div class="row">
  <div class="col">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">
          <a href="{{ .url }}" class="card-link" target="_blank">
            {{ .title }}
          </a>
        </h4>
        <h6 class="card-subtitle mb-2 text-muted">{{ .date }}</h6>
        <p class="card-text">
          {{ .description }}
        </p>
        <i class="fas fa-map-marked-alt"></i>
        <a href="{{ .map_url }}" class="card-link" target="_blank">
          {{ .location }}
        </a> - {{ .city }}
      </div>
    </div><br>
  </div>
</div>
