<footer class="text-muted">
  <div class="container">
    <p class="float-right">
    <a href="#"><i class="fas fa-arrow-up"></i> Top</a>
    </p>
    <p>
      Montana <i class="fas fa-heart"></i> Made.
      <a href="https://github.com/techbozeman/techbozeman" target="_blank">Source</a>
    </p>
  </div>
</footer>

<script src="{{ "js/jquery.slim.min.js" | relURL }}"></script>
<script src="{{ "js/bootstrap.bundle.min.js" | relURL }}"></script>
<script src="{{ "js/main.js" | relURL }}"></script>
<!-- Matomo -->
<script type="text/javascript">
  var _paq = _paq || [];
  _paq.push(['trackPageView']);
  _paq.push(['enableLinkTracking']);
  (function() {
    var u="//stats.agrinux.com/";
    _paq.push(['setTrackerUrl', u+'piwik.php']);
    _paq.push(['setSiteId', '5']);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
  })();
</script>
<!-- End Matomo Code -->
